.history/
.idea/
.vscode/
dist/
**/local/
**/logs/
**/python*/
**/report_files/
**/*.csv
**/*.pyc
**/*.log
**/__pycache__/
**/*.code-workspace
**/*.ipynb
**/tokens/
**/*.iml
**/package-lock.json
.editorconfig
*.json
